<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC38KN3QuoRsVcGAWSmkNAZo1LXLFjs6ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>496967281351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kiviApp</string>
	<key>PROJECT_ID</key>
	<string>kivilerce-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>kivilerce-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496967281351:ios:48bd8637a5bf8808e1ece2</string>
</dict>
</plist>